@model TravelBlogAgain.Models.Location


@{
    ViewData["Title"] = "Location - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a New Location Entry</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" @Html.EditorFor(model => model.Name)
    </div>

    <div class="form-group">
        <label>Latitude</label>
        <input class="form-control" type="number"
    </div>

    <div class="form-group">
        <label>Longitude</label>
        <input class="form-control" type="number" @Html.EditorFor(model => model.Lon)
    </div>
    <input type="submit" value="Create" class="btn btn-info" />
}

@Html.ActionLink("Back to Home Page", "Index")