@model TravelBlogAgain.Models.Person
@{
    ViewData["Title"] = "Create Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new Person</h2>
<hr />

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Name</label>
        @Html.EditorFor(model => model.Name)
    </div>

    <div class="form-group">
        <label>Adventure Rating</label>
        <select id="AdventureRating" name="AdventureRating">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
    </div>
    
        <label>Check activities this person attended.</label><br />
        @foreach (var experience in ViewBag.ExperiencesList)
        {
            <input type="checkbox" name="experience_person" value=@experience.ExpId />@experience.Activity<br />
        }
    
   
    <input type="submit" value="Create" class="btn btn-default" />
    }

    @Html.ActionLink("Back Home", "Index", "Locations")
